@font-face {
  font-family: "Outfit";
  src: url("Outfit-VariableFont_wght.ttf");
  font-weight: 100 900;
  unicode-range: U+000D, U+0020-007E, U+00A0-00FF, U+0131, U+0152-0153,
      U+02BC, U+02C6, U+02DA, U+02DC, U+0300-0304, U+0308, U+030A, U+0327,
      U+2013-2014, U+2018-201A, U+201C-201E, U+2022, U+2026, U+2039-203A,
      U+2044, U+2074, U+20AC, U+2212, U+2215, U+2713, U+FB01-FB02;
}

:root {

  --cloud-nord-purple: #9f06fe;
  --cloud-nord-blue: #05b0eb;

  /* gradient from purple */
  --cn-gradient-p-1: #9f06fe;
  --cn-gradient-p-2: #006aff;
  --cn-gradient-p-3: #008bff;
  --cn-gradient-p-4: #009bff;
  --cn-gradient-p-5: #00a2db;
  --cn-gradient-p-6: #00a68e;

  /* gradient from blue */
  --cn-gradient-b-1: #05b0eb;
  --cn-gradient-b-2: #008cc5;
  --cn-gradient-b-3: #006aa0;
  --cn-gradient-b-4: #004a7d;
  --cn-gradient-b-5: #002c5b;
  --cn-gradient-b-6: #aa2870;

  --body-text: #FFF;
  --body-bg: var(--cn-gradient-b-4);
  --body-bg-dark: var(--cn-gradient-b-5);
  --text-high: #FFF;
  --text-inv: var(--cn-gradient-b-3);

  --link-color: var(--hot-color);

  --main-color: #00A6E8;
  --main-light: #C2E1F9;
  --hot-color: var(--cn-gradient-b-6);
  --hot-light: #FFF2BD;
  --light-cold: #C2F9D2;
  --light-hot: #F9C3E6;
  --n-dark: #000;
  --n-light: #EDECCC;
  --n-medium: #666;

  --stack: "Outfit", Calibri, Roboto, "Droid Sans", Helvetica, Arial, sans-serif;
}
